---
#auth-default-login: AUTH TYPE
#auth-default-group: AUTH TYPE
#auth-default-group-401: AUTH TYPE
#auth-default-user-401: AUTH TYPE
#auth-default-done: AUTH TYPE
auth:
  gapper:
    icon: assets/img/gapper-auth-gapper/logo.png
    name: Gapper
    show: ${SHOW_LOGIN_TYPE_GAPPER}
server_home: ${GAPPER_URL:='http://gapper.in/'}
# proxy:
#   - url: http://url
#     proxy: http://proxy.url
# 3rd:
#   sso:
#     condition: sso
#     class: \Gini\Gapper\SSO
#     params:
#       url: SSO-URL
#       type: cookie
#       cookie: 
#         key: COOKIE-KEY
#         method: METHOD
#         result: RESULT-KEY
#         gapper-source: GAPPER-SOURCE 
gapper-client-use-agent-data: ${GAPPER_CLIENT_USE_AGENT_DATA:='false'}
gapper-client-agent-token-lifetime: ${GAPPER_CLIENT_AGENT_TOKEN_LIFETTIME:='120'}
gapper-client-agent-auto-use-agent-data: ${GAPPER_CLIENT_AGENT_AUTO_USE_AGENT_DATA:=''}
gapper-uniadmin-register-mode-url:
  create-groups:
    url: ${GAPPER_UNIADMIN_CREATE_GROUPS_URL:=''}
    message: ${GAPPER_UNIADMIN_CREATE_GROUPS_MESSAGE:=''}
  apply-for-join-groups:
    url: ${GAPPER_UNIADMIN_APPLY_FOR_GROUPS_URL:=''}
    message: ${GAPPER_UNIADMIN_APPLY_FOR_GROUPS_MESSAGE:=''}
...
